body {
    /* background-color: #706fab; */
    background: url("../img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.introCard {
    opacity: 80%;
}

.action{
    text-align: center;
    /* opacity: 80%; */
}

.jumClass2 {
    opacity: 65%;
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    
}
.formR {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}

.form{
    text-align: center;
}
/* .card-body {
    opacity: .1;
} */
.logBut {
    margin-right: 10px;
    color: #494949 !important;
    /* text-transform: uppercase; */
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    /* border: 4px solid #494949 !important; */
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: Arial, Helvetica, sans-serif;
}

.signInButText {
    color: #494949 !important;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: Arial, Helvetica, sans-serif;
}

.movieCard{
    margin-bottom: 15px;
    width: 18rem;
    padding: 5px;
}

.clickBut:hover {
    color: #ffffff !important;
    background: silver;
    border-color: #748ab9 !important;
    transition: all 0.4s ease 0s;
    }

.cardText {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.jumClass {
    height: 350px;
    margin-top: 20px;
    /* opacity: 0; */
}



.navPro {
   float: left;
}

.navProContent {
  float: right;
  padding-left: 10px;
}

/* footer {
    width: 100%;
} */
.nav-link1 {
    margin-left: 18px;
    margin-bottom: 10px;
    border-style: solid;
    /* background-color: #f6b93b; */
    margin-top: 10px;;
    height: 35px;
    width: 180px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
}

/* footer {
    position: fixed;
    bottom: 0px;
    width: 77.8%;
  } */

  .saveMovieContainer {
      width: 100%;
      margin-top: 30px;
  }

  .userPw {
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .userEmail {
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .introCard {
      /* height: 250px; */
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .introCardImg {
      height: 200px;
      width: 200px;
      margin: 30px;
      float: left;
  }

  .introCardText {
      float: right;
      margin-left: 20px;
  }

  .introCardTitle {
    float: right;
}

.emailInput, .passwordInput {
    /* margin-left: 200px; */
    /* width: 400px; */
    margin-top: 30px;
    text-align: center;
}

.loginPageText {
    /* margin-left: 100px; */
    margin-top:50px;
    /* font-display: strong;
    font-size: xx-large; */
}

.signInBut {
    
        /* margin-right: 10px; */
        color: #494949 !important;
        /* text-transform: uppercase; */
        text-decoration: none;
        background: #ffffff;
        padding: 5px;
        border: 4px solid #494949 !important;
        display: inline-block;
        transition: all 0.4s ease 0s;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 25px;
    }

/* hover {
    color: #ffffff !important;
    background: silver;
    border-color: #748ab9 !important;
    transition: all 0.4s ease 0s;
    } */

 

.loginFooter {
    position: fixed;
    bottom: 0;
    width: 1200px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 60px; */
    /* line-height: 60px; */
}

.carouselImgs {
    margin-top: 10px;
    /* height: 500px;; */
}

@media only screen and (max-width: 750px) {
    .introCardImg {
        margin-left: 30%;;
  
    }

    .introCardText{
        padding-bottom: 20px;
        text-align: center;
    }

    .introCardTitle{
        text-align: center;
    }
  }

  